html
  include includes/head.pug

  body
    include includes/header.pug

    form(id="registrationForm", action="/user/register", method="POST")
      label(for="login") Login:
      br
      input(type="text", name="login", id="login", required)
      br

      label(for="email") Email:
      br
      input(type="email", name="email", id="email", required)
      br

      label(for="password") Password:
      br
      input(type="password", name="password", id="password", required)
      br

      label(for="confirmPassword") Confirm Password:
      br
      input(type="password", name="confirmPassword", id="confirmPassword", required)
      br

      a(href="/user/login") Login

      input(type="submit", value="Register")
    
    script(src="/js/register.js")
