doctype html
html
  include includes/head.pug

  body
    include includes/header.pug

    link(rel='stylesheet', href='/css/task_list.css')

    main
      .panel
        h2 Task List
        ul#task-list
          // Tasks will be dynamically added here using JavaScript

      .details
        h2 Task Details
        p#task-title
        p#task-expiration
        p#task-description

    script(src='/js/task_list.js')
